body {
	padding: 0px;
	padding-bottom: 10px;
	margin: 0px;
	background-color: #ECEFF1;
	width: 250px;
}

form {
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 13px;
	margin: 5px;
}

br {
	/*margin-bottom: 20px;*/
}

a {
	color: grey;
	text-align: center;
	margin-left: 25px;
	margin-bottom: 10px;

}

input {
	margin-bottom: 10px;
	padding: 5px;
	align-self: center;
	width: 12em;
}

button {
	margin-left: 65px;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}

h3 {
	color: white;
	background-color: #263238;
	padding: 7px;
	margin-top: 0px;
}