body {
	padding: 0px;
	margin: 0px;
	background-color: 
}

form {
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Arial';
	font-weight: bold;
	margin: 5px;
}

br {
	/*margin-bottom: 20px;*/
}

input {
	margin-bottom: 15px;
	padding: 5px;
	align-self: center;
	width: 12em;
}

button {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
}

h3 {
	color: white;
	background-color: black;
	padding: 7px;
	margin-top: 0px;
}